.header {
  position: relative;
  height: 40vh;
}

.menu-section {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.menu-button {
  border: none;
  padding: 5px;
  height: 30px;
}

.menu {
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
  background-color: rgba(var(--color-bg-primary-rgb), 0.7);
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  padding: 10px;
}

.menu-items {
  list-style-type: none;
  margin-inline: 20px;
  padding: 0;
}

.menu-items li {
  margin-bottom: 10px;
}

.header-image-container {
  position: relative;
  text-align: center;
  color: white;
}

.header-image {
  height: 40vh;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 25%;
  opacity: 0.8;
}

.header-image-credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

.header-image-credit-link:link,
.header-image-credit-link:visited {
  color: white;
  text-decoration: underline;
}

.header-image-credit-link:hover,
.header-image-credit-link:focus {
  color: wheat;
  text-decoration: underline;
}

.avatar-container {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #333333;
}

.avatar-image {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 40% 50%;
}

.name {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 165%);
  font-size: xx-large;
  font-family: "Simplifica", sans-serif;
}

.menu-container {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
}

.current-page {
  display: inline;
  margin-left: 10px;
  font-family: "Simplifica", sans-serif;
  font-size: larger;
}
