:root {
  --color-bg-primary: #e7e5df;
  --color-bg-primary-rgb: 231, 229, 223;
  /* --color-bg-secondary: #f5f5f5; */

  --color-text-primary: #2a2b2a;
  /* --color-text-secondary: #666666; */

  --color-link: #a76d60;
  --color-link-hover: #7a8450;
  /* --color-link-visited: #663399; */

  --color-emphasize: #548687;
  /* --color-emphasize-light: #ffa366; */
}
